---
import ConceptDiscovery from './miniComponent/comp1.astro';
---

<div>
  <ConceptDiscovery 
    number="01"
    conceptText="CONCEPT"
    conceptSize="16vh"
    accentTextSize="15vh"
    accentText="Discovery"
    heading="Heading"
    description="At nexCraft, we craft vibrant and innovative digital products tailored to your needs so that no one has to settle for the same old"
  />

  <ConceptDiscovery 
    number="02"
    conceptText="CONTENT"
      conceptSize="16vh"
    accentTextSize="15vh"
    accentText="Content"
    heading="Heading"
    description="At nexCraft, we craft vibrant and innovative digital products tailored to your needs so that no one has to settle for the same old"
  />

  <ConceptDiscovery 
    number="03"
    conceptText="STRUCTURE"
    conceptSize="13vh"
    accentTextSize="15vh"
    accentText="Structure"

    heading="Heading"
    description="At nexCraft, we craft vibrant and innovative digital products tailored to your needs so that no one has to settle for the same old"
  />

  <ConceptDiscovery 
    number="04"
    conceptText="VISUAL"
    conceptSize="16vh"
    accentTextSize="15vh"
    accentText="Visual"
    heading="Heading"
    description="At nexCraft, we craft vibrant and innovative digital products tailored to your needs so that no one has to settle for the same old"
  />

  <ConceptDiscovery 
    number="05"
    conceptText="CODE"
    conceptSize="16vh"
    accentTextSize="15vh"
    accentText="Code"
    heading="Heading"
    description="At nexCraft, we craft vibrant and innovative digital products tailored to your needs so that no one has to settle for the same old"
  />

  <ConceptDiscovery 
    number="06"
    conceptText="FUNCTION"
    conceptSize="16vh"
    accentTextSize="15vh"
    accentText="Function"
    heading="Heading"
    description="At nexCraft, we craft vibrant and innovative digital products tailored to your needs so that no one has to settle for the same old"
  />

  <ConceptDiscovery 
    number="07"
    conceptText="PROJECT"
    conceptSize="16vh"
    accentTextSize="15vh"
    accentText="Project"
    heading="Heading"
    description="At nexCraft, we craft vibrant and innovative digital products tailored to your needs so that no one has to settle for the same old"
  />
</div>
