<div class="flex flex-col lg:flex-row items-center justify-center gap-4 lg:gap-8 min-h-screen bg-white p-4">
  <!-- First column -->
  <div class="flex flex-col gap-4 mb-8 lg:mb-0">
    <div class="w-full sm:w-80 md:w-96 lg:w-[400px] h-80 md:h-96 lg:h-[400px] border-2 border-orange-500 rounded-[20px]"></div>
    <div class="flex flex-wrap justify-center sm:ml-4 md:ml-8 mt-4 md:mt-8 gap-4">
      <div class="w-36 h-36 sm:w-40 sm:h-40 md:w-[160px] md:h-[160px] border-2 border-orange-500 rounded-[20px]"></div>
      <div class="w-36 h-36 sm:w-40 sm:h-40 md:w-[160px] md:h-[160px] border-2 border-black rounded-[20px]"></div>
    </div>
  </div>

  <!-- Second column -->
  <div class="flex flex-col gap-4 mb-8 lg:mb-0">
    <div class="flex flex-wrap justify-center sm:ml-4 md:ml-8 mb-4 md:mb-8 gap-4">
      <div class="w-36 h-36 sm:w-40 sm:h-40 md:w-[160px] md:h-[160px] border-2 border-orange-500 rounded-[20px]"></div>
      <div class="w-36 h-36 sm:w-40 sm:h-40 md:w-[160px] md:h-[160px] border-2 border-black rounded-[20px]"></div>
    </div>
    <div class="w-full sm:w-80 md:w-96 lg:w-[400px] h-80 md:h-96 lg:h-[400px] border-2 border-orange-500 rounded-[20px]"></div>
  </div>

  <!-- Third column -->
  <div class="flex flex-col sm:flex-row lg:flex-col gap-4 sm:gap-8 max-sm:hidden lg:gap-y-8">
    <div class="w-36 h-36 sm:w-40 sm:h-40 md:w-[160px] md:h-[160px] border-2 border-black rounded-[20px]"></div>
    <div class="w-36 h-36 sm:w-40 sm:h-40 md:w-[160px] md:h-[160px] border-2 border-black rounded-[20px]"></div>
    <div class="w-36 h-36 sm:w-40 sm:h-40 md:w-[160px] md:h-[160px] border-2 border-black rounded-[20px]"></div>
  </div>
</div>